@model ControlWork7.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class="col-sm-2">
            Категория
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublishedYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishedYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class="col-sm-2">
            Пользователи
        </dt>
        <dd class="col-sm-10">
            @if (Model.UsersAndBooks == null || Model.UsersAndBooks.Count == 0)
            {
                <span>Никто еще не брал книгу</span>
            }
            else
            {
                <ul>
                    @foreach (var u in Model.UsersAndBooks)
                    {
                        @if (u.GetBookDate != null && u.ReturnBookDate == null)
                        {
                            <li>@u.User.Name c @(u.GetBookDate.ToLongDateString()) до н.в.</li>
                        }
                        else
                        {
                            <li>@u.User.Name c @(u.GetBookDate.ToLongDateString()) до @(u.ReturnBookDate)</li>
                        }
                    }
                </ul>
            }
        </dd>
        <img src="@Model.PhotoUrl" alt="No image" style="width: 300px; height: 300px;"/>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
